@import url('https://fonts.googleapis.com/css?family=Calibri');
body { font-family: 'Calibri', sans-serif; }

.remark-slide-content{
  background: #FFFFFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  font-family: 'Calibri', sans-serif; 
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 6px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background: linear-gradient(to right, #6EACCA, #141B4D);
}

.title-slide {
  background: url('https://github.com/dylanpieper/PERU-theme/raw/main/titlebg.PNG') #0F0027;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.title-slide h1, .title-slide h2, .title-slide h3, .title-slide h4 {
  text-shadow: 0 0 0;
  font-weight: 100;
  color: #003594;
  position:relative;
  left:240px;
  top:50px;
}

.title-slide h1, .title-slide h2 {
  font-weight: bold;
}

.title-slide h3 {
  font-style: italic;
}

.title-slide h4 {
  font-size: 24px;
  font-style: italic;
  position:relative;
  left:240px;
  top:40px
}

.title-slide .remark-slide-number {
  display: none;
}

.heading-slide {
  background: url('https://github.com/dylanpieper/PERU-theme/raw/main/headingbg.PNG') #0F0027;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.heading-slide h1, .heading-slide h2, .heading-slide h3 {
  text-shadow: 0 0 0;
  font-weight: 100;
  color: #003594;
  position:relative;
  left:50px;
  top:125px
}

.heading-slide h1, .title-slide h2 {
  font-weight: bold;
}

.heading-slide h3 {
  font-style: italic;
}

.heading-slide p {
  text-shadow: 0 0 0;
  font-weight: 100;
  color: #000000;
  position:relative;
  left:50px;
  top:110px
}

.last-slide {
  background: url('https://github.com/dylanpieper/PERU-theme/raw/main/lastbg.PNG') #0F0027;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

h1 {
  color: #003594;
}

a {
  color: #003594;
}
